@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900,200,100);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic);

.wp-block,
.editor-styles-wrapper, .wp-block p,
.editor-styles-wrapper p.wp-block-paragraph,
.editor-styles-wrapper p.block-library-list,
.editor-styles-wrapper .mce-content-body p {
	font-family: 'PT Serif', serif;
	color: #313131;
	font-size: 14px;
}
.editor-styles-wrapper .mce-content-body p,
.penci-tpadding-0,
.penci-tpadding-1,
.penci-tpadding-2,
.penci-tpadding-3,
.penci-tpadding-4,
.penci-tpadding-5,
.penci-tpadding-6,
.penci-tpadding-7{
	margin-top: 0;
	margin-bottom: 17px;
	line-height: 1.8;
}
.editor-styles-wrapper .wp-block-quote.is-style-default p {
	font-size: 16px;
}
.editor-styles-wrapper .wp-block-quote.is-style-large p, 
.editor-styles-wrapper .wp-block-quote.is-large p{
	font-size: 24px;
}
.editor-styles-wrapper .wp-block-quote.is-style-large .wp-block-quote__citation, 
.editor-styles-wrapper .wp-block-quote.is-large .wp-block-quote__citation {
	text-align: right;
}
.wp-block-quote.is-style-large, .wp-block-quote.is-large {
	background: #f5f5f5;
    padding: 10px 20px 11px;
}
.wp-block {
	max-width: 780px;
}
.wp-block-video video {
	width: 100%;
}
.wp-block-table td, .wp-block-table th {
	border-color: #e9e9e9;
	font-size: 14px;
}
.wp-block-preformatted pre,
.wp-block-code,
.wp-block-code .editor-plain-text {
	background: #f4f4f4;
}
.wp-block-preformatted pre {
	border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 0 20px;
	padding: 15px;
}
pre.wp-block-verse, .wp-block-verse pre {
	padding: 10px 20px;
	background: #f5f5f5;
}
.wp-block-pullquote:not(.is-style-solid-color),
.wp-block-pullquote.is-style-solid-color {
	padding: 30px 0;
}
.wp-block-pullquote blockquote {
	margin-top: 0;
	margin-bottom: 0;
}
.wp-block-pullquote.is-style-solid-color{
	background: #f5f5f5;
}
.wp-block-pullquote.is-style-solid-color blockquote {
	text-align: center;
}
.wp-block-pullquote blockquote > .editor-rich-text p {
	margin-bottom: 0;
}
.wp-block-pullquote blockquote .wp-block-pullquote__citation{
	margin-top: 10px;
}
.wp-block-pullquote.is-style-solid-color blockquote > .editor-rich-text p {
	font-size: 28px;
}
.editor-styles-wrapper p.has-huge-font-size,
.editor-styles-wrapper p.has-large-font-size {
	line-height: 1.4;
}
.block-editor .wp-block-latest-posts.is-grid,
.block-editor .wp-block-latest-posts {
	padding: 16px 20px 16px 36px;
	border: 1px solid #dedede;
}
.block-editor .wp-block-latest-posts.is-grid {
	padding-bottom: 0 !important;
}
.wp-block a,
.penci-wpblock a,
.wp-block-freeform.block-library-rich-text__tinymce a,
.editor-styles-wrapper .mce-content-body p a,
.wp-block a:hover,
.penci-wpblock a:hover,
.wp-block-freeform.block-library-rich-text__tinymce a:hover,
.editor-styles-wrapper .mce-content-body p a:hover,
.wp-block a:active,
.penci-wpblock a:active,
.wp-block-freeform.block-library-rich-text__tinymce a:active,
.editor-styles-wrapper .mce-content-body p a:active{
	color: #6eb48c;
}
.editor-styles-wrapper .wp-block .wp-block-paragraph.has-drop-cap:not(:focus):first-letter{
	float: left;
	font-size: 60px;
	line-height: 0.9;
	margin: 0 8px 0 0;
	text-transform: uppercase;
	font-style: normal;
}
.editor-styles-wrapper .wp-block ul,
.editor-styles-wrapper .wp-block ul li {
	list-style-type: square;
	font-size: 14px;
}
.editor-styles-wrapper .wp-block ol.wp-block-latest-comments{
	padding-left: 36px;
}
.editor-styles-wrapper .wp-block ol.wp-block-latest-comments,
.editor-styles-wrapper .wp-block ol.wp-block-latest-comments li{
	list-style: decimal;
}
.editor-styles-wrapper .wp-block ol.wp-block-latest-comments.has-avatars,
.editor-styles-wrapper .wp-block ol.wp-block-latest-comments.has-avatars li {
	list-style: none;
}
.editor-styles-wrapper .wp-block ol.wp-block-latest-comments li {
	margin-bottom: 15px;
}
.editor-styles-wrapper .wp-block ol,
.editor-styles-wrapper .wp-block ol li {
	
}
.editor-styles-wrapper .wp-block ul ul,
.editor-styles-wrapper .wp-block ol ol,
.editor-styles-wrapper .wp-block ul ol,
.editor-styles-wrapper .wp-block ol ul {
	margin-left: 3px;
}
.wp-block-yoast-how-to-block ul.schema-how-to-steps,
.wp-block-yoast-how-to-block ul.schema-how-to-steps li{
	list-style: none;
} 
.wp-block-yoast-how-to-block ul.schema-how-to-steps {
	padding: 15px 20px 20px 32px;
    border: 1px solid #dedede;
}
.wp-block-yoast-how-to-block li.schema-how-to-step {
	border: none;
	border-bottom: 1px solid #dedede;
	padding: 0;
	margin-bottom: 10px;
    padding-bottom: 12px;
}
.wp-block-yoast-how-to-block li.schema-how-to-step:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.wp-block-yoast-how-to-block .schema-how-to-step-number{
	left: -28px;
	top: 1px;
}
.wp-block-yoast-faq-block .schema-faq-section{
	margin-bottom: 15px;
	padding: 15px 20px;
}
.wp-block-yoast-faq-block .schema-faq-section:last-child {
	margin-bottom: 0;
}
.editor-styles-wrapper .wp-block-yoast-faq-block .mce-content-body,
.editor-styles-wrapper .wp-block-yoast-faq-block p {
	font-size: 14px;
}

.penci-wpblock h1,.wp-block .wp-block-heading h1,
.penci-wpblock h2,.wp-block .wp-block-heading h2,
.penci-wpblock h3,.wp-block .wp-block-heading h3,
.penci-wpblock h4,.wp-block .wp-block-heading h4,
.penci-wpblock h5,.wp-block .wp-block-heading h5,
.penci-wpblock h6,.wp-block .wp-block-heading h6 {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	letter-spacing: 0;
	font-weight: bold;
	line-height: 1.3em;
}
.penci-wpblock p,
.penci-wpblock h1,
.penci-wpblock h2,
.penci-wpblock h3,
.penci-wpblock h4,
.penci-wpblock h5,
.penci-wpblock h6,
.penci-wpblock hr {
	margin-top: 0;
	margin-bottom: 17px;
}
.penci-wpblock h1,.wp-block .wp-block-heading h1 {  font-size: 24px;  }
.penci-wpblock h2,.wp-block .wp-block-heading h2 {  font-size: 22px;  }
.penci-wpblock h3,.wp-block .wp-block-heading h3 {  font-size: 20px;  }
.penci-wpblock h4,.wp-block .wp-block-heading h4 {  font-size: 18px;  }
.penci-wpblock h5,.wp-block .wp-block-heading h5 {  font-size: 16px;  }
.penci-wpblock h6,.wp-block .wp-block-heading h6 {  font-size: 14px;  }

.penci-gutenberg-missing {
	font-size: 13px;
	font-weight: normal;
	text-align: left;
	padding: 20px;
	outline: 2px dashed #d4d4d4;
	color: #131313;
	font-family: Verdana, Geneva, sans-serif;
	cursor: pointer;
}

.penci-gutenberg-missing span {
	font-size: 11px;
	position: relative;
	margin-right: 10px;
	background-color: red;
	color: #fff;
	font-weight: bold;
	padding: 5px 10px;
}

.penci-wpblock .penci-wrapper-posts-content,
.penci-wpblock .penci-gutenberg-missing + .home-featured-cat,
.penci-wpblock .penci-gutenberg-missing + .wrapper-penci-review,
.penci-wpblock .penci-gutenberg-missing + div{
	display: none !important;
}

#penci-gutenberg-format  #vp-post-formats-ui-tabs{
	display: block !important;
	margin-bottom: 15px;
}
#penci-gutenberg-format  .vp-pfui-elm-block label{
	margin-left: 0;
	margin-bottom: 5px;
	text-transform: none;
}

#penci-gutenberg-format  .vp-pfui-elm-block .vp-pfui-elm-container {
	background: transparent;
	padding: 0;
	border: 0
}

#penci-gutenberg-format .vp-pfui-gallery-picker .gallery > span {
	width: 62px;
	height: 62px;
	padding: 4px;
	margin: 2px;
	border: solid 1px #dedede;
}

#penci-gutenberg-format .vp-pfui-nav ul {
	margin: 0;
}

#penci-gutenberg-format .vp-pfui-nav ul li a{
	margin-bottom: 5px;
	border-radius: 3px;
	border: 1px solid #ccc;
	transition: all 0.3s;
	background: #f7f7f7;
	box-shadow: inset 0 -1px 0 #ccc;
	color: #555;
	vertical-align: top;
}

#penci-gutenberg-format .vp-pfui-nav ul li a.current,
#penci-gutenberg-format .vp-pfui-nav ul li a:hover {
	background: #0085ba;
	border-color: #006a95 #00648c #00648c;
	box-shadow: inset 0 -1px 0 #00648c;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 1px #005d82, 1px 0 1px #005d82, 0 1px 1px #005d82, -1px 0 1px #005d82;
}

ul.penci_list_shortcode{
	list-style: none !important;
	list-style-type: none !important;
}
ul.penci_list_shortcode{
	padding-left: 19px !important;
}
.penci_list_shortcode li{
	position: relative;
    list-style: none!important;
    padding-left: 20px !important;
}
.penci_list_shortcode li:before {
    color: #6eb48c;
    content: "\f00c";
    width: 20px;
    margin-left: -20px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: none;
}
.penci_list_shortcode.penci_list-starlist li:before {
    content: "\f005";
}
.penci_list_shortcode.penci_list-pluslist li:before {
    content: "\f0fe";
}
.penci_list_shortcode.penci_list-minuslist li:before {
    content: "\f146";
}
.penci_list_shortcode.penci_list-editlist li:before {
    content: "\f044";
}
.penci_list_shortcode.penci_list-asterisklist li:before {
    content: "\f069";
}
.penci_list_shortcode.penci_list-thumbuplist li:before {
    content: "\f164";
}
.penci_list_shortcode.penci_list-folderlist li:before {
    content: "\f07b";
}
.penci_list_shortcode.penci_list-thumbdownlist li:before {
    content: "\f165";
}
.penci_list_shortcode.penci_list-heartlist li:before {
    content: "\f004";
}

.penci-highlight-black {
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 0;
    margin: 0 7px 0 8px;
    box-shadow: 6px 0 0 rgba(0, 0, 0, 0.8), -8px 0 0 rgba(0, 0, 0, 0.8);
    color: gray;
}
.penci-highlight-black:hover {
    color: #fff;
}
.penci-highlighted-black {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 0;
    margin: 0 7px 0 8px;
    box-shadow: 6px 0 0 rgba(0, 0, 0, 0.8), -8px 0 0 rgba(0, 0, 0, 0.8);
    color: #fff;
}
.penci-highlighted-red {
    background-color: red;
    padding: 2px 0;
    margin: 0 7px 0 8px;
    box-shadow: 6px 0 0 #ff0000, -8px 0 0 red;
    color: #fff;
}
.penci-highlighted-blue {
    background-color: #3f51b5;
    padding: 2px 0;
    margin: 0 7px 0 8px;
    box-shadow: 6px 0 0 #3f51b5, -8px 0 0 #3f51b5;
    color: #fff;
}
.penci-highlighted-green {
    background-color: green;
    padding: 2px 0;
    margin: 0 7px 0 8px;
    box-shadow: 6px 0 0 #008000, -8px 0 0 green;
    color: #fff;
}
.penci-highlighted-yellow {
    background-color: #ffcb00;
    padding: 2px 0;
    margin: 0 7px 0 8px;
    box-shadow: 6px 0 0 #ffcb00, -8px 0 0 #ffcb00;
    color: #fff;
}
.penci-highlighted-pink {
    background-color: #ffc0cb;
    padding: 2px 0;
    margin: 0 7px 0 8px;
    box-shadow: 6px 0 0 #ffc0cb, -8px 0 0 #ffc0cb;
    color: #fff;
}
.penci-tpadding-1 {
    padding-left: 0;
    padding-right: 5%;
}
.penci-tpadding-2 {
    padding-left: 5%;
    padding-right: 0;
}
.penci-tpadding-3 {
    padding-left: 5%;
    padding-right: 5%;
}
.penci-tpadding-4 {
    padding-left: 5%;
    padding-right: 10%;
}
.penci-tpadding-5 {
    padding-left: 10%;
    padding-right: 5%;
}
.penci-tpadding-6 {
    padding-left: 10%;
    padding-right: 10%;
}
.penci-tpadding-7 {
    padding-left: 15%;
    padding-right: 15%;
}
@media (max-width: 767px) {
    .penci-tpadding-0,
    .penci-tpadding-1,
    .penci-tpadding-2,
    .penci-tpadding-3,
    .penci-tpadding-4,
    .penci-tpadding-5,
    .penci-tpadding-6,
    .penci-tpadding-7 {
        padding-left: 3% !important;
        padding-right: 3% !important;
    }
}
.penci-dropcap-box {
    float: left;
    display: block;
    background-color: #6eb48c;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    min-width: 56px;
    font-size: 48px;
    line-height: 50px;
    margin: 6px 13px 0 0;
    padding: 3px 13px;
}
.penci-dropcap-box-outline {
    float: left;
    display: block;
    background-color: transparent!important;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #6eb48c;
    color: #6eb48c;
    min-width: 56px;
    font-size: 48px;
    line-height: 50px;
    margin: 6px 13px 0 0;
    padding: 3px 13px;
}
.penci-dropcap-circle {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    float: left;
    display: block;
    background-color: #6eb48c;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    min-width: 56px;
    font-size: 48px;
    line-height: 50px;
    margin: 6px 13px 0 0;
    padding: 3px 13px;
}
.penci-dropcap-circle-outline {
    float: left;
    display: block;
    background-color: transparent!important;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #6eb48c;
    color: #6eb48c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    min-width: 56px;
    font-size: 48px;
    line-height: 50px;
    margin: 6px 13px 0 0;
    padding: 3px 13px;
}
.penci-dropcap-regular {
    float: left;
    display: block;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent!important;
    color: #6eb48c;
    font-size: 68px;
    line-height: 68px;
    margin: 0 13px 0 0;
    padding: 0;
}
.penci-dropcap-bold {
    float: left;
    display: block;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent!important;
    color: #6eb48c;
    font-weight: bold;
    font-size: 68px;
    line-height: 68px;
    margin: 0 13px 0 0;
    padding: 0;
}