/*
 Theme Name:   Soledad Child Theme
 Theme URI:    http://pencidesign.com/
 Description:  Soledad Child Theme - Made by PenciDesign
 Author:       Pencidesign
 Version:      1.0
 Author URI:   http://pencidesign.com/
 Template:     soledad
 Text Domain:  soledad
*/

/* = Theme customization go here
-------------------------------------------------------------- */
@font-face {
    font-family: GreycliffCF-Bold;  
    src: url(http://www.savetastic.com/wp-content/themes/soledad-child/fonts/GreycliffCF-Bold.ttf);
}
h1 { 
font-family: "GreycliffCF-Bold", Arial, sans-serif; 
}
.penci-homepage-title.style-12 .inner-arrow, .penci-sidebar-content.style-12 .penci-border-arrow .inner-arrow {
	background-color: transparent;
    letter-spacing: 0;
    font-size: 18px;
    color: #000;
	text-transform: capitalize;
    font-family: 'GreycliffCF-Bold';
}
.penci-homepage-title.style-12 .inner-arrow:before, .penci-sidebar-content.style-12 .penci-border-arrow .inner-arrow:before {
	content: url(https://savetastic.com/wp-content/uploads/2021/01/savetastic-logo-accents-final-content.png);
	border: none;
    right: 20px;
    top: -10px;
    opacity: 1;
}
.penci-homepage-title.style-12, .penci-sidebar-content.style-12 .penci-border-arrow {
	border-bottom: 1px solid #313131;
}
@media (min-width: 480px) {
	#widget-area {
		padding: 60px 10px;
	}
}